{% extends "basic.html" %}

{% block title %}
Contact
{% endblock title %}

{% load static %}
{% block body %}

<!-- Contact section start -->
<section class="contact-wrapper mt-5">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 order-2 order-lg-1 pe-lg-5 text-lg-start text-center">
                <span class="subtitle">Contact me or</span>
                <h2>Hire me</h2>

                <div class="row call-details mb-4">
                    <label class="col-sm-3 col-lg-4 text-end">
                        <i class="fa-solid fa-phone-flip"></i>
                    </label>

                    <div class="col-sm-9 col-lg-8 mb-3 mb-lg-2 text-start">
                        <a href="javascript:void(0)">+8801770062888</a>
                    </div>

                    <label class="col-sm-3 col-lg-4 text-end">
                        <i class="fa-solid fa-envelope"></i>
                    </label>

                    <div class="col-sm-9 col-lg-8 mb-3 mb-lg-2 text-start">
                        <a href="tariqulislam.dev@gmail.com">tariqulislam.dev@gmail.com</a>
                    </div>
                </div>

                <form method='post'>
                    {% csrf_token %}
                    
                    <div class="mb-4">
                        <input type="text" name='name' class="form-control" placeholder="Your Name" autocomplete="off">
                    </div>
                    <div class="mb-4">
                        <input type="number" name='phone_number' class="form-control" placeholder="Phone Number" autocomplete="off">
                    </div>
                    <div class="mb-4">
                        <input type="email" name='email' class="form-control" placeholder="Email" autocomplete="off">
                    </div>
                    <div class="mb-4">
                        <input type="text" name='subject' class="form-control" placeholder="Subject" autocomplete="off">
                    </div>
                    <div class="mb-4">
                        <textarea cols="40" rows="4" name='message' class="form-control" placeholder="Message"
                            autocomplete="off"></textarea>
                    </div>
                    <button type="submit" class="main-btn">Submit</button>
                </form>

            </div>
            <div class="col-lg-6 order-1 order-lg-1 mb-4 mb-lg-0">
                <!-- <img src="images/bg-image.jpeg" alt="" class="img-fluid rounded-circle"> -->
                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_isbiybfh.json"
                    background="transparent" speed="1" loop autoplay></lottie-player>
            </div>
        </div>
    </div>
</section>
<!-- Contact section end -->


{% include 'footer.html' %}

{% endblock body %}

